
@{
    ViewBag.Title = "_BusinessAdminLayout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<html>
<head>

    <title>Administration Dashboard</title>
    <style>
        td {
            padding: 15px;
        }
    </style>
</head>
<body>
    <div align="center">

        <h1>Administrator Dashboard</h1>
        @*<center><img src="~/Images/proj.jpg" /></center>*@
    </div>

</body>
</html>
