
@{
    ViewBag.Title = "_CustomerLayout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html>
<head>

    <title>Customer</title>
    <style>
        td {
            padding: 15px;
        }
    </style>
</head>
<body>
    <div align="center">
        <h1>Customer Dashboard</h1>
    </div>
</body>
</html>
